body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
.header {
  background-color: #f55a5a;
  height: 80px;
  margin: 0;
  padding: 0;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title--image {
  height: 50px;
  padding-right: 10px;
}

.title--text {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  /* justify-content: space-around; */
}

.card {
  display: flex;
  padding-top: 50px;
}

.card--photo {
  max-width: 250px;
  border-radius: 5px;
}

.card--country {
  display: flex;
  align-items: center;
}

.card--pin {
  width: 20px;
}

.card--info {
  padding-left: 10px;
}