body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
.header {
  background-color: #f55a5a;
  height: 80px;
  margin: 0;
  padding: 0;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title--image {
  height: 50px;
  padding-right: 10px;
}

.title--text {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  /* justify-content: space-around; */
}

.card {
  display: flex;
  padding-top: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card--photo {
  max-width: 250px;
  max-height: 227px;
  border-radius: 5px;
}

.card--country {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

.card--country > a {
  padding-left: 15px;
  color: gray;
  
}

.card--country > h4 {
  text-transform: capitalize;
  margin: 0;
}

.card--pin {
  width: 20px;
}

.card--info {
  padding-left: 10px;
}

.card--title {
  padding: 0;
  margin: 0;
}

.card--date {
  font-weight: bold;
}